{% extends 'base.html' %}

{% block content %}
    <style>
        .navbar-brand {
            font-family: "forte", sans-serif;
        }
        body {
        background: #007bff;
        background: linear-gradient(to right, #EAD6EE, #A0F1EA);
        }
        .card-header{
            font-weight: bold;
        }
        .konten{
            margin-left: 20px; /* Atur margin sebesar 20 piksel ke sisi kiri */
            margin-right: 5px; /* Atur margin sebesar 20 piksel ke sisi kanan */
            margin-top: 5px; /* Atur margin sebesar 20 piksel ke sisi atas */
            margin-bottom: 5px; /* Atur margin sebesar 20 piksel ke sisi bawah */
        }
        

    </style>

    <!-- /* Navigation bar*/ -->

    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">           {% comment %} ini biar lebar konten nya nyesuain layar {% endcomment %}
            <a class="navbar-brand" href="#">
                SmartWaroeng
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main:logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'main:create_product' %}">Add New Product</a>
                    </li>
                </ul>
            </div>

        </div> 
    </nav>

    <div class="konten">
        <h5>Kamu menyimpan {{jumlah_item}} item pada aplikasi ini</h5>
    
        <div class="container">
            <div class="row">
                <!-- looping sebanyak jumlah product -->
                {% for product in products %}
                <div class="col-md-4">
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">{{product.name}}</div>
                        <div class="card-body text-dark">
                            <p class="card-text"> Price: Rp{{product.price}}</p>
                            <p class="card-text">{{product.description}}</p>
                            <div class="d-flex justify-content-between">
                                <p class="card-text"> Jumlah: {{product.amount}}</p>
                                <a style ="text-align: center"> <!--tombol tambah 1-->
                                    <form method="post" action="{% url 'main:add_one' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit">+</button>
                                    </form>
                                </a>
                                <a style ="text-align: center"> <!--tombol kurang 1-->
                                    <form method="post" action="{% url 'main:dec_one' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit">-</button>
                                    </form>
                                </a>
                                <a style ="text-align: center">    <!--tombol delete -->
                                    <form method="post" action="{% url 'main:delete_product' product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit">🗑</button>
                                    </form>
                                </a>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">Date added: {{product.date_added}}</div>
                    </div>
                </div>
        {% endfor %}
    
            </div>
        </div>
    
        <br />
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

{% endblock content %}