{% extends 'base.html' %}

{% block content %}
    <h1>Smart Waroeng Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <style>
        th{
            text-align: center;
            padding: 10px;
        }
        td{
            border: 1px solid #000;
            padding: 10px;
        }
    </style>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr>
            <th>Name</th>
            <th>Available Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td style ="text-align: center">{{product.amount}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>
            </tr>
        {% endfor %}
    </table>
    
    <br />
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}